## [ Arquivos de Compilação ]
bin/
obj/

## [ Ferramentas do Visual Studio ]
.vs/
*.user
*.userosscache
*.sln.docstates

## [ Configurações de Usuário e Segredos ]
appsettings.Development.json
UserSecrets/
*.suo
*.user
*.userosscache
*.sln.docstates

## [ Logs e Dados Temporários ]
logs/
*.log
.db/
*.db
*.sqlite

## [ Pacotes NuGet ]
*.nupkg
**/packages/*
!**/packages/build/

## [ Publicação/Deploy ]
publish/
*.azurepubxml

## [ Outros ]
.DS_Store
Thumbs.db